exportClasses(igvR)

exportMethods(
   connected,
   disconnect,
   getGenome,
   goto,
   gotoAll,
   loadFile,
   displayBedTable,
   displayGWASTable,
   displayScoredFeatures,
   displayVcfRegion,
   clearAllTracks
  )

export(
   igvR
   )
